Car Price Prediction

The problem at hand is to model the selling price of used cars based on the features given in the datasets. 
It will be used by the client to predict the price of a car of their choice.
Your mission, should you choose to accept it, as a data scientist, is to make sure that you maximize the probability of them getting the car and at the same time, make sure that they don't overpay.

In [2]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
car_data = pd.read_csv('car_data.csv')
model_data = pd.read_csv('model_data.csv')

About the data
car_data.csv

Model: Model name of the car that is sold.
Selling Price: The selling price of the car. This is your target feature.
Kilometers Driven: Number of kilometers that the car has already driven.
Year: Year of purchase of the car.
Owner: Information on a number of the previous owners.
Fuel Type: Fuel type of car.
Transmission: Transmission type of car.
Insurance: Insurance information of the car.
Car Condition: Current car condition. A rating out of 5.


model_data.csv
Model: Model name of the car that is sold.
Current Price: Current price of the car.

In [4]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2237 entries, 0 to 2236
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Model              2237 non-null   object
 1   Selling Price      2237 non-null   int64
 2   Kilometers Driven  2237 non-null   int64
 3   Year               2237 non-null   int64
 4   Owner              2237 non-null   object
 5   Fuel Type          2237 non-null   object
 6   Transmission       2237 non-null   object
 7   Insurance          2223 non-null   object
 8   Car Condition      2237 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 157.4+ KB

In [5]:
model_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Model          434 non-null    object
 1   Current Price  433 non-null    object
dtypes: object(2)
memory usage: 6.9+ KB

In [6]:
car_data.head()

,Model,Selling Price,Kilometers Driven,Year,Owner,Fuel Type,Transmission,Insurance,Car Condition
0,MarutiWagonR1.0LXI,312165,82238,2014,First Owner,Petrol + CNG,MANUAL,Expired,4.2
1,ToyotaEtiosLiva,313799,30558,2013,First Owner,Petrol,MANUAL,12-09-2021,4.4
2,MarutiAlto800,295999,22164,2018,First Owner,Petrol,MANUAL,01-12-2020,4.8
3,MarutiSwift,435199,30535,2013,First Owner,Diesel,MANUAL,Comp,4.3
4,MarutiWagonR1.0,289099,15738,2013,First Owner,Petrol,MANUAL,11-08-2021,4.3

In [7]:
model_data.head()

                             Model Current Price
0  HyundaiElitei20Sportz(O)1.4CRDi  Rs.7.69 Lakh
1       MarutiErtigaZXISMARTHYBRID  Rs.9.27 Lakh
2            MarutiVitaraBrezzaLDI   Rs.7,62,742
3     FordEcosport1.5TITANIUMTIVCT  Rs.7.64 Lakh
4       HyundaiVernaFLUIDIC1.4CRDI   Rs.9,99,900

In [8]:
len(car_data['Model'].unique())

434

In [9]:
len(model_data['Model'].unique())

434

In [10]:
model_data['Model'].duplicated().any()

False

Since our datasets match, and there is no duplicated values in our model_data dataset we can performe an inner-join in our data.
We will add the atribute 'Current Price' from our ´model_data´ dataset to our ´car_data´ dataset using the 'Model' atribute as a way to performe the inner-join.

In [11]:
car_data = pd.merge(car_data, model_data ,on='Model')

In [12]:
car_data.head()

,Model,Selling Price,Kilometers Driven,Year,Owner,Fuel Type,Transmission,Insurance,Car Condition,Current Price
0,MarutiWagonR1.0LXI,312165,82238,2014,First Owner,Petrol + CNG,MANUAL,Expired,4.2,Rs.4.65 Lakh
1,MarutiWagonR1.0LXI,242499,88514,2015,Second Owner,Petrol + CNG,MANUAL,26-07-2021,4.4,Rs.4.65 Lakh
2,MarutiWagonR1.0LXI,381699,29735,2017,Second Owner,Petrol + CNG,MANUAL,18-09-2021,4.3,Rs.4.65 Lakh
3,MarutiWagonR1.0LXI,181999,153709,2013,First Owner,Petrol + CNG,MANUAL,25-05-2021,4.1,Rs.4.65 Lakh
4,MarutiWagonR1.0LXI,239499,88691,2012,Second Owner,Petrol + CNG,MANUAL,15-10-2021,4.4,Rs.4.65 Lakh

In [13]:
car_data.describe()

       Selling Price  Kilometers Driven         Year  Car Condition
count   2.237000e+03        2237.000000  2237.000000    2237.000000
mean    4.184431e+05       61928.605275  2013.763523       4.370854
std     2.280516e+05       42260.955917     2.874686       0.288990
min     7.529900e+04         913.000000  2006.000000       3.000000
25%     2.720990e+05       32137.000000  2012.000000       4.200000
50%     3.557990e+05       55430.000000  2014.000000       4.300000
75%     5.032990e+05       83427.000000  2016.000000       4.600000
max     1.952397e+06      855881.000000  2020.000000       5.000000

In [14]:
car_data['Kilometers Driven'].value_counts()

63798     2
63748     2
115055    2
8526      2
37486     2
         ..
7349      1
53106     1
144078    1
127472    1
28016     1
Name: Kilometers Driven, Length: 2221, dtype: int64

In [15]:
# Looking ate the unique values of categorical features
print(car_data['Model'].unique())
print(car_data['Owner'].unique())
print(car_data['Fuel Type'].unique())
print(car_data['Transmission'].unique())
print(car_data['Insurance'].unique())

['MarutiWagonR1.0LXI' 'ToyotaEtiosLiva' 'MarutiAlto800' 'MarutiSwift'
 'MarutiWagonR1.0' 'HyundaiElitei20ASTA1.2'
 'HyundaiGrandi10SPORTZ1.2KAPPA' 'HyundaiElitei20ASTA' 'MarutiCelerio'
 'MarutiSwiftDzireVXI1.2BS' 'MarutiDzire' 'HondaCivic1.8S'
 'MarutiAltoK10VXI' 'MarutiAlto800LXI' 'HyundaiVernaFLUIDIC1.6EX'
 'ToyotaEtiosCROSS1.4' 'HondaCitySVCVT' 'VolkswagenVentoHIGHLINE'
 'Hyundaii20MAGNAO' 'VolkswagenPoloGT' 'MahindraTUV300'
 'HondaAmaze1.5VCVT' 'TataNanoXT' 'RenaultKwid' 'MarutiAltoK10'
 'HyundaiElitei20SPORTZ' 'MarutiZenEstilo' 'MarutiCelerioZXI'
 'MarutiSwiftDzireVDIBS' 'MarutiBalenoALPHA1.2' 'MarutiSwiftVDI'
 'TataTiagoXT1.2' 'MahindraBoleroPower+' 'HyundaiElitei20MAGNA1.4'
 'MarutiSX4' 'MarutiBalenoDELTA1.2K12' 'MarutiSwiftVXI' 'HondaCityVMT'
 'MahindraXUV500W8' 'HyundaiVENUE1.4CRDIMT' 'Hyundaii20MAGNAO1.4'
 'FordEcosport1.5TITANIUMTI' 'Hyundaii10SPORTZ1.2' 'HondaBrio1.2VMTI'
 'MarutiErtigaZXISMARTHYBRID' 'HondaCityVXMT' 'MahindraScorpioS6'
 'HyundaiVENUE1.0LTurboGDISX(O)' 'HondaAccord2.4ATI' 'ToyotaCorollaAltis'
 'VolkswagenPoloHIGHLINE1.2L' 'MarutiRitz' 'HyundaiVernaFLUIDIC1.6SXVTVT'
 'HyundaiGrandi10SPORTS1.2' 'HondaCitySMT' 'HyundaiSantroXingGL'
 'MarutiSwiftZDI' 'MarutiErtiga' 'MarutiCelerioVXI' 'MarutiAltoK10VXI(O)'
 'Hyundaii10MAGNA' 'HyundaiElitei201.2MAGNAPLUS' 'HyundaiEonMAGNA'
 'HondaCityV' 'MarutiAlto' 'MarutiBalenoDELTA1.2'
 'HyundaiVernaFLUIDIC1.6SXCRDI' 'Hyundaii20MAGNA1.2'
 'MarutiSwiftDzireLXI1.2BS' 'ToyotaEtios' 'NissanMicraXVPREMIUM'
 'HyundaiGrandi10SPORTZ(O)1.2AT' 'MarutiWagonR1.0LXICNG'
 'MarutiVitaraBrezza' 'HondaAmaze1.2SMTI' 'HyundaiVernaFLUIDIC1.6SX'
 'HyundaiGrandi10ASTAAT1.2KAPPA' 'ToyotaInnova2.5GX8STRBS'
 'HyundaiSantroXing' 'DatsunRediGo' 'HondaBrio1.2SMTI' 'HondaCity1.5V'
 'RenaultLodgy110PSRXZ8' 'ChevroletCruzeLTZ' 'MarutiVitaraBrezzaZDI'
 'HyundaiXcentS' 'FordEcosport1.5TITANIUM' 'ToyotaEtiosLivaGD'
 'MarutiNewWagon-RLXI1.0' 'MarutiRitzVXIBS' 'MarutiRitzVXI'
 'HyundaiGrandi10ERA1.2' 'HyundaiGrandi10MAGNA1.2' 'MarutiEeco5STRWITHAC'
 'HyundaiSantroXingXOERLXEURO' 'MarutiCiazVDI' 'MarutiSwiftDzire'
 'MarutiAStar' 'MahindraScorpio' 'RenaultDusterRXZ85PS' 'MarutiDzireVDI'
 'DatsunGoREMIX' 'SkodaLauraAMBITION2.0TDICR' 'HondaCitySVMT'
 'HyundaiVerna1.6SX(O)CRDI' 'VolkswagenPoloCOMFORTLINE1.2L'
 'MarutiBalenoDELTADDIS' 'ToyotaEtiosVX' 'MahindraKuv100K6D6'
 'MarutiErtigaVDI' 'HyundaiCreta1.6SX' 'MarutiSwiftDzireLDIBS'
 'HyundaiEonERA' 'MarutiCiazZETA1.5SHVSVVT' 'Hyundaii20ASTA1.4'
 'VolkswagenJettaCOMFORTLINE2.0L' 'Hyundaii10SPORTZ1.2AT'
 'VolkswagenPoloCOMFORTLINE1.5L' 'SkodaRapid1.5TDIMT'
 'RenaultDusterRXLAMT110' 'TataHexaVaricor400' 'MarutiSCrossZETA'
 'MarutiEeco5STRCNGWITHAC' 'ToyotaCorollaAltisVL' 'Hyundaii10MAGNA1.2'
 'MarutiWagonR' 'FordFigo1.2ZXI' 'MarutiNewWagon-RVXI'
 'MahindraTharCRDE4X4BS' 'HondaCityVXMTO' 'Hyundaii20ASTA'
 'MarutiIGNISDELTA1.2K12' 'AudiQ335TDI' 'HyundaiVernaFLUIDIC1.6EXCRDI'
 'FordEcosport1.5TITANIUMTIVCT' 'DatsunGo' 'HondaAmaze1.2EMTI'
 'BMW3Series320D' 'Hyundaii10MAGNA1.1' 'HyundaiCreta1.6SXPLUS'
 'FordEcosport' 'HondaCityZX1.5' 'Hyundaii20SPORTZ1.2'
 'MarutiVitaraBrezzaZDIPLUSDUAL' 'SkodaSuperbELEGANCE1.8TSI'
 'MarutiSwiftLXI' 'HyundaiSantroXingXLERLXEURO'
 'HyundaiGrandi10ASTA1.1(O)' 'AudiA62.0' 'HyundaiCreta1.6E+'
 'RenaultDuster85PS' 'MarutiOMNIE8' 'HyundaiEonDLITE' 'HondaAmaze1.2EXMTI'
 'FordFigo1.4EXI' 'MarutiCiazZXI' 'HyundaiElitei20ASTA1.4'
 'ChevroletBeatPS' 'HondaBrio1.2VXMTI' 'ToyotaInnova2.5VX8STRBS'
 'MarutiCiazDELTA1.5SHVS' 'ToyotaCorollaAltisD4D'
 'HyundaiGrandi10Sportz1.2' 'MarutiSX4ZXIMTLEATHERBS' 'SkodaRapid1.6TDIMT'
 'Hyundaii10' 'ToyotaFortuner3.0MT' 'VolkswagenPoloTRENDLINE1.2L'
 'HyundaiGrandi10MAGNA1.2KAPPA' 'BMW5Series' 'FordEcosport1.5TITANIUMTDCI'
 'ToyotaCorollaAltis1.8' 'TataTIAGOJTP' 'MarutiBalenoALPHADDIS'
 'FordFigo1.2TITANIUM' 'MarutiBalenoZETA1.2' 'HondaAmaze1.5SMTI'
 'SkodaFabiaELEGANCE1.2' 'RenaultKwidRXT' 'HondaAmaze1.2VXMTI'
 'RenaultKwidRXT1.0EASY-R' 'MarutiAltoK10LXI' 'MahindraXUV500'
 'VolkswagenPoloHIGHLINE1.5L' 'HondaAmaze1.5SXMTI'
 'MarutiCiazDELTA1.5SHVSVVT' 'BMWX1SDRIVE' 'TataTiagoXZ1.05'
 'MarutiRitzVXIABS' 'ToyotaCorollaH31.8' 'TataNEXONXZ+'
 'HyundaiCreta1.6CRDISXPLUS' 'FiatGrandPuntoACTIVE' 'HondaAmaze1.5EMTI'
 'MarutiSwiftLDIBS' 'MarutiEeco7' 'HyundaiXcentSX' 'HyundaiXcentS1.2'
 'RenaultKwidCLIMBER1.0' 'TataTiagoXZ1.2' 'Hyundaii20SPORTZO1.4'
 'TataNEXONXM' 'HondaCity1.5EMT' 'HyundaiAccentEXECUTIVE'
 'MarutiSCrossSIGMA' 'RenaultKwidRXT1.0EASY-RAT' 'MarutiVitaraBrezzaZDI+'
 'MarutiDzireVXI' 'RenaultDusterRXZAMT110' 'FordNewFigo1.5TITANIUMAT'
 'SkodaSuperbELEGANCETDI2.0' 'MarutiCelerioVXI(O)' 'MarutiSwiftZXI'
 'MarutiSwiftDzireZXI1.2BS' 'MarutiWagonRVXIBS' 'BMW3Series'
 'MarutiWagonR1.0VXI' 'TataNanoTWIST' 'HyundaiGrandi10SPORTZ1.1'
 'MercedesBenzGLAClass200CDI' 'HyundaiElitei20SPORTZ(O)'
 'Hyundaii20Active1.2' 'TataIndicaVistaAURA1.3' 'MarutiEeco5STRCNGWITH'
 'MarutiWagonRStingray' 'Hyundaii10SPORTZ1.1' 'FordEcosport1.5TREND'
 'HondaJazz1.2SV' 'SkodaRapidELEGANCE1.6MPFI' 'HyundaiVerna1.6SXVTVTAT'
 'HondaCivic1.8V' 'HyundaiEon' 'MarutiErtigaVXISMART'
 'HyundaiCreta1.4EPLUS' 'MarutiCiazZETA1.4' 'MarutiSwiftDzireVDI'
 'RenaultKwidRXL1.0EASY-R' 'HondaAmaze1.5VXMTI' 'HondaJazz1.2V'
 'HondaJazz1.2BASEI' 'HyundaiGrandi101.2ASTA(O)' 'MarutiSwiftVDIGlory'
 'DatsunRediGoT' 'MarutiIGNISZETA1.2K12' 'HondaCityVXCVT' 'HondaBrio1.2V'
 'HyundaiNEWSANTROASTA1.1' 'FordEcosport1.5AMBIENTE'
 'MarutiVitaraBrezzaLDI' 'ToyotaEtiosLivaD4D' 'MarutiCelerioX'
 'FordEcosport1.0ECOBOOST' 'VolkswagenVentoHIGHLINETDI'
 'ToyotaFortuner3.0AT' 'MarutiRitzZXI' 'Hyundaii10ERA1.1'
 'RenaultDuster85PSRXL' 'RenaultDusterRXZDIESEL' 'HondaBrio1.2VXATI'
 'MarutiErtigaVXI' 'HyundaiGrandi10ASTA1.2KAPPA'
 'VolkswagenVentoHIGHLINE1.2TSI' 'MarutiIGNISDELTA1.2'
 'HyundaiGrandi10Sportz(O)1.2' 'MarutiVitaraBrezzaVDI' 'ChevroletSparkLS'
 'ToyotaInnova2.5VX7STRBS' 'MarutiNewWagon-R1.0Lxi(o)' 'Hyundaii10SPORTZ'
 'MarutiSwiftDzireVXI' 'MarutiBalenoSIGMA1.2'
 'VolkswagenPoloTrendline1.0L' 'ToyotaInnovaCrysta2.4GX8'
 'MahindraXUV500W6' 'ToyotaEtiosLivaD4DGD' 'HondaBrio1.2EXMTI'
 'HyundaiGrandi10ASTA1.2AT' 'SkodaFabiaAMBIENTE1.2' 'Hyundaii20SPORTZ1.4'
 'VolkswagenVentoHIGHLINEPETROL' 'MarutiSwiftZXI+BS' 'NissanTerranoXL110'
 'HyundaiElitei201.4CRDIASTA' 'SkodaRapid1.5TDIAT'
 'HyundaiVernaFLUIDIC1.4CRDI' 'HyundaiGrandi10SPORTZO' 'RenaultKwid1.0RXT'
 'MahindraXUV500W11' 'HyundaiNewElantraS1.6' 'NissanSunnyXV'
 'Hyundaii10ASTA1.2ATKAPPA2WITH' 'FordEcosport1.5TDCITITANIUM'
 'NissanTerranoXLPLUS85PS' 'SkodaRapid1.5ACTIVETDI'
 'MarutiCiazALPHA1.5ATVTVT' 'HyundaiVernaFLUIDIC1.6CRDISX'
 'TataIndicaVistaVX' 'HyundaiVernaFLUIDIC1.4' 'SkodaRapid1.6TDIMTAMBITION'
 'MarutiSwiftVXILIMITED' 'HyundaiXcentSX1.1CRDI'
 'VolkswagenVentoTRENDLINE' 'TataNEXONXMA' 'HondaWR-V1.2i-VTECVX'
 'TataTiagoXZA1.2' 'MahindraScorpioSLEBS' 'MahindraMARAZZOM87'
 'HondaAmaze1.2VCVTI' 'MarutiCiazDELTA1.3DDIS' 'MarutiCiazVDI+'
 'HyundaiGrandi10Magna1.2AT' 'HyundaiNEWSANTRO1.1MAGNACNG' 'ToyotaEtiosGD'
 'HondaBR-V1.5i-VTEC' 'MarutiCiazZDISHVS' 'HondaMobilio1.5VI'
 'RenaultKwid1.0' 'ToyotaInnova2.5GX7STRBS' 'MGHECTORSHARPDCT'
 'MarutiCiazALPHA1.3DDIS' 'ToyotaCorollaH21.8' 'MarutiNewWagon-R1.0LXI'
 'Hyundaii10ASTA1.2' 'MahindraXUV3OO' 'Hyundaii20MAGNA1.4'
 'RenaultDusterRXZ110' 'FordEcosport1.5TITANIUMPLUSTIVCT'
 'TataTIGORRevotron' 'MarutiNewWagon-RLXICNG1.0' 'HyundaiSantroXingGLS'
 'VolkswagenJettaTRENDLINE2.0L' 'NissanTerranoXLOPT85'
 'HyundaiVernaFLUIDIC1.6CRDISXOPT' 'MercedesBenzEClassE250'
 'MarutiEeco5STRWITHACPLUS' 'HyundaiCreta1.6SXAT' 'AudiA62.0TDIPREMIUM'
 'HondaAmaze1.2SATI' 'HyundaiCreta1.6SX(O)' 'VolkswagenVentoCOMFORTLINEMT'
 'HondaCityZX1.5VTEC' 'HyundaiElitei20ASTA1.2DUAL'
 'VolkswagenVentoCOMFORTLINE' 'VolkswagenPoloHIGHLINE1.6L'
 'HondaMobilio1.5SI' 'FordFiestaTREND'
 'HyundaiGrandi10SPORTZ1.1CRDISPECIAL' 'SkodaLauraELEGANCE2.0TDICR'
 'MarutiCiazALPHA1.5MTVVT' 'HyundaiCreta1.4S' 'HyundaiXcentSX1.1'
 'HyundaiNEWSANTROSPORTZ' 'HyundaiGrandi10SPORTZAT1.2KAPPA'
 'NissanSunnyXL' 'HyundaiElitei201.2SPORTSPLUS' 'MarutiWagonR1.0VXI+(O)'
 'SsangyongRexton' 'MarutiSwiftZXIPLUS' 'HondaCityVX(O)'
 'SkodaRapid1.5TDIMTAmbition' 'HondaAmaze1.2VMT' 'HyundaiVerna'
 'HondaMobilio1.5VOPTI' 'ToyotaInnovaCrysta2.8ZXAT7' 'Hyundaii20ERA'
 'MarutiWagonR1.0LXICNGLIMITED' 'MahindraXUV500W10'
 'SkodaSuperb1.8TSISTYLE' 'ToyotaInnovaCrysta2.4VX8' 'RenaultKwidCLIMBER'
 'MarutiCiazZDI+' 'ToyotaInnovaCrysta2.4VX7'
 'HyundaiElitei20Sportz(O)1.4CRDi' 'ToyotaYARISJ' 'MarutiErtigaZDIPLUS'
 'MarutiWagonRDuoLXI' 'HyundaiGRANDI10NIOSSPORTZ1.2' 'HondaCRV2.4AT4WD'
 'MarutiDzireZXI' 'VolkswagenPassatHIGHLINE' 'MarutiWagonR1.0VXIOPT'
 'ToyotaEtiosLivaG' 'JeepCompassLIMITED1.4' 'MarutiCiaz' 'MarutiAltoLXI'
 'TataNano' 'HyundaiVENUESMT1.2' 'MarutiSwiftVXI1.3'
 'HyundaiVENUE1.0LTurboGDISX' 'SkodaLauraAMBIENTE2.0TDICR'
 'TataZestXMAQUADRAJET' 'VolkswagenPoloGTTSI1.2PETROL' 'MarutiAStarVXIABS'
 'MarutiCelerioZXIOPT' 'MahindraMARAZZOM28' 'HyundaiElitei20ERA'
 'FordFigoAspire1.5TREND' 'MarutiEeco5' 'HyundaiVENUE1.0TURBOGDISX+'
 'MahindraTUV300T8' 'TataTiagoXT1.05' 'HondaCityZX'
 'HyundaiTucsonNew2WDATGLS' 'MercedesBenzCClass220EDITION'
 'HyundaiEonERAPLUS' 'RenaultDusterRXLDIESEL' 'MarutiAltoK10K10VXI'
 'MarutiSwiftDzireZXI' 'HyundaiCreta1.6SXPLUSAUTO'
 'HyundaiVernaFLUIDIC1.6SXVTVTOPT' 'MarutiBalenoZETA1.2K12'
 'HondaAmaze1.5EXMTI' 'FordFigoAspire1.5TITANIUM'
 'MarutiSwiftDzireVXIRegalLimited' 'HondaBrio1.2EMTI'
 'MarutiBalenoZETADDIS' 'MahindraKuv100K46' 'HyundaiElitei20MAGNA'
 'ToyotaEtiosLivaV' 'ToyotaInnovaCrysta2.4GX7' 'SkodaRapidELEGANCE1.6TDI'
 'ToyotaCorollaHE1.8' 'ToyotaCorollaAltisJ' 'HyundaiCreta1.6'
 'FordFigoAspire1.2AMBIENTE' 'ToyotaEtiosCROSS' 'FiatGrandPuntoDYNAMIC'
 'FordFigo1.2EXI' 'JeepCompass2.0LIMITED' 'NissanMicraXEPLUS'
 'ToyotaInnova2.5V' 'FordEcosport1.5TRENDTI'
 'HyundaiElitei20MagnaExecutive' 'HyundaiEonD']
['First Owner' 'Second Owner' 'Third Owner']
['Petrol + CNG' 'Petrol' 'Diesel' 'Petrol + LPG']
['MANUAL' 'MH12' 'TS07' 'KA01' 'MH05' 'DL5C' 'DL9C' 'MH04' 'TS08'
 'AUTOMATIC' 'UP14' 'UP32' 'HR03' 'MH01' 'DL2C' 'KA05' 'KA50' 'KA53'
 'DL12' 'DL11' 'GJ27' 'TN12' 'TN02' 'HR26' 'MH03' 'MH47' 'TS09' 'RJ14'
 'TN06' 'MH43' 'DL4C' 'KA02' 'MH02' 'RJ45' 'DL3C' 'TN22' 'KA04' 'MH46'
 'KA51' 'PB91' 'DL8C' 'GJ18' 'HR51' 'DL10' 'HR29' 'KA03' 'DL14' 'GJ05'
 'GJ01' 'PB10' 'MH14' 'UP78' 'GJ06' 'Ch01' 'HR05' 'HR12' 'DL1C' 'PB11']
['Expired' '26-07-2021' '18-09-2021' '25-05-2021' '15-10-2021'
 '02-02-2021' '28-07-2021' '22-11-2022' '20-07-2021' 'Comp' '27-01-2021'
 '18-11-2021' '14-04-2021' '16-08-2021' '10-09-2020' '06-05-2021'
 '11-06-2021' '27-09-2021' '08-10-2020' '09-10-2021' '02-08-2021'
 '29-05-2021' '01-02-2021' '10-08-2021' '15-01-2021' '04-05-2021'
 '31-01-2022' '11-09-2021' '14-10-2021' '24-02-2021' '20-12-2021'
 '27-08-2021' '04-11-2021' '08-03-2021' '22-10-2021' '14-02-2021'
 '04-04-2021' '05-02-2021' '15-07-2021' '12-09-2021' '23-07-2021'
 '17-11-2021' '17-06-2021' '30-05-2021' '05-09-2020' '30-06-2021'
 '27-07-2021' '20-06-2021' '27-11-2021' '17-05-2021' '01-12-2020'
 '17-04-2021' '29-10-2021' '08-04-2021' '30-12-2020' '15-11-2021'
 '12-12-2021' '05-07-2021' '02-02-2020' '08-09-2021' '29-06-2021'
 '01-12-2021' '27-10-2021' '24-05-2020' '09-08-2021' '11-01-2022'
 '01-04-2021' '13-03-2021' '17-09-2021' '02-11-2021' '27-03-2021'
 '31-07-2021' '02-09-2021' '14-01-2022' '03-11-2021' '02-01-2022'
 '30-11-2021' '22-07-2021' '27-06-2021' '14-03-2021' '14-07-2021'
 '18-06-2021' '14-06-2021' '10-01-2022' '12-05-2021' '28-03-2021'
 '11-02-2022' '03-07-2021' '19-05-2021' '29-12-2021' '15-04-2021'
 '17-02-2021' '03-08-2021' '22-02-2021' '30-07-2021' '13-12-2021'
 '18-04-2021' '11-11-2021' '28-01-2022' '23-04-2022' '01-08-2021'
 '14-01-2021' '15-09-2021' '01-11-2021' '08-01-2022' '21-05-2021'
 '28-12-2021' '12-02-2021' '24-11-2021' '19-12-2021' '09-08-2022'
 '30-01-2021' '17-10-2021' '18-12-2020' '01-01-2021' '27-12-2021'
 '18-10-2021' '15-01-2022' '23-10-2021' '26-09-2021' '11-09-2020'
 '09-05-2021' '30-09-2021' '12-11-2021' '11-12-2020' '01-07-2021'
 '27-07-2022' '19-03-2021' '16-02-2021' '22-05-2021' '26-06-2021'
 '14-12-2021' '06-08-2021' '23-03-2021' '30-10-2021' '13-08-2021'
 '07-02-2021' '19-02-2021' '17-07-2021' '07-07-2021' '21-06-2021'
 '12-06-2021' '02-01-2021' '06-06-2021' '26-02-2021' '11-03-2021'
 '22-03-2021' 'Insurance Expired' '20-01-2021' '07-03-2021' '10-03-2021'
 '24-01-2022' '23-12-2021' '14-11-2021' '04-03-2021' '19-06-2021'
 '18-07-2021' '04-10-2021' '07-12-2021' '09-09-2021' '29-03-2021'
 '13-05-2021' '08-01-2021' '24-03-2021' '03-06-2021' '16-05-2021'
 '13-10-2021' '24-04-2021' '29-08-2021' '06-03-2021' '03-03-2021'
 '11-08-2021' '07-09-2021' '05-03-2021' '18-05-2021' '24-10-2021'
 '23-01-2021' '30-12-2021' '23-09-2021' '05-01-2021' '07-08-2021'
 '13-07-2021' '10-06-2021' '29-09-2021' '29-07-2021' '11-07-2021'
 '16-04-2021' '18-11-2020' '06-02-2021' '10-10-2021' '05-01-2022'
 '28-05-2021' '16-11-2021' '05-10-2021' '01-01-2022' '16-03-2021'
 '17-08-2021' '29-04-2021' '26-08-2021' '20-02-2021' '17-03-2021'
 '12-03-2021' '31-08-2021' '25-08-2021' '31-10-2021' '26-05-2021'
 '19-08-2021' '28-02-2021' '23-06-2020' '02-07-2021' '16-07-2021'
 '09-02-2021' '11-04-2021' '10-07-2021' '04-12-2021' '20-11-2021'
 '29-01-2022' '27-02-2021' '24-06-2021' '18-01-2022' '08-05-2021'
 '06-04-2021' '05-08-2021' '13-09-2021' '15-12-2021' '04-07-2021'
 '18-02-2021' '20-10-2021' '19-04-2021' '21-10-2021' '07-01-2022'
 '23-05-2021' '24-01-2021' '01-05-2021' '25-03-2021' '03-02-2021'
 '26-03-2021' '10-04-2021' '21-09-2021' '04-02-2021' '17-11-2020'
 '25-07-2021' '20-09-2020' '27-09-2022' '08-12-2021' '23-08-2021' nan
 '16-10-2021' '06-01-2021' '09-01-2022' '10-11-2021' '09-01-2021'
 '24-07-2021' '19-09-2021' '19-01-2021' '25-11-2021' '25-10-2021'
 '08-10-2021' '15-02-2021' '21-11-2021' '11-05-2021' '06-12-2021'
 '22-01-2021' '05-05-2021' '20-09-2021' '30-03-2021' '06-09-2021'
 '07-01-2021' '20-10-2020' '07-10-2021' '24-08-2021' 'Third_party'
 '12-04-2021' '26-11-2021' '02-06-2021' '13-11-2021' '03-04-2021'
 '28-09-2021' '22-09-2021' '05-06-2021' '08-08-2021' '21-07-2021'
 '18-01-2021' '30-12-2019' '14-01-2023' '02-05-2021' '24-09-2021'
 '31-03-2021' '22-01-2022' '21-03-2021' '29-11-2021' '22-08-2021'
 '25-09-2021' '10-01-2021' '19-07-2021' '09-04-2021' '23-11-2021'
 '16-01-2021' '05-11-2021' '01-06-2021' '13-04-2021' '05-09-2021'
 '13-06-2021' '12-10-2021' '27-01-2022' '20-08-2021' '03-01-2021'
 '21-12-2021' '19-10-2021' '14-05-2021' '13-11-2020' '24-05-2021'
 '28-06-2021' '26-12-2021' '09-11-2021' '22-11-2021' '20-03-2021'
 '21-02-2021' '08-02-2021' '09-12-2021' '30-04-2021' '28-10-2021'
 '22-12-2021' '10-05-2021' '09-03-2021' '30-08-2021' '21-08-2022'
 '01-03-2021' '09-12-2020' '21-04-2021' '27-12-2020' '15-06-2021'
 '26-04-2021' 'Zero_Dep' '16-12-2021' '29-01-2021' '21-03-2020'
 '12-07-2021' '03-05-2021' '02-04-2021' '04-08-2021' '28-08-2021'
 '24-11-2020' '07-05-2021' '07-11-2021' '02-12-2021' '08-06-2021'
 '20-05-2021' '09-07-2021' '05-04-2021' '25-02-2021' '06-11-2021'
 '04-01-2021' '21-01-2021' '23-02-2021' '04-09-2021' '03-02-2022'
 '11-02-2021' '20-12-2020' '14-09-2021' '29-11-2020' '21-01-2022'
 '08-11-2020' '18-08-2021' '18-03-2021' '11-01-2021' '06-07-2021'
 '27-08-2022' '02-03-2021' '28-11-2021' '31-12-2021' '20-06-2022'
 '03-09-2021' '25-12-2020' 'Zero Depreciation' '27-04-2021' '28-04-2021'
 '10-12-2021' '22-06-2021' '26-01-2021' '15-11-2020' '23-06-2021'
 '29-09-2022' '20-04-2021' '15-05-2021' '11-12-2021' '15-02-2022'
 '01-11-2020' '31-01-2021' '25-04-2021' '3rd Party' '12-09-2022'
 '06-01-2023' '29-12-2022' '21-08-2021' '07-03-2020' '30-12-2022'
 '16-06-2021' '23-12-2020' '23-01-2022' '29-12-2020' '18-08-2020'
 '16-09-2021' '16-12-2020' '06-10-2021' '31-12-2020' '05-02-2022'
 '25-06-2021' '11-10-2021' '10-02-2021' '12-08-2021' '25-01-2021'
 '15-03-2021' '03-03-2023' '06-12-2020' '06-01-2022' '08-11-2021'
 '25-12-2021' '27-03-2022' '18-12-2021' '20-02-2022' '11-10-2020'
 '05-12-2020' 'Comprehensive' '31-05-2021' '03-12-2021' '17-01-2021'
 '01-09-2021' '08-02-2022' '02-08-2022' '03-10-2021' '12-01-2021'
 '04-06-2021' '29-08-2022' '08-12-2020' '17-12-2021' '12-01-2022'
 '19-02-2020' '02-10-2021' '07-12-2020' '07-04-2021' '16-01-2022'
 '28-12-2020' '17-12-2020' '15-08-2021' '07-11-2020' '07-06-2021'
 '07-01-2023' '30-03-2022' '27-05-2021' '08-07-2020' '04-12-2020'
 '26-11-2020' '28-11-2020' '21-12-2020' '04-01-2022' '05-12-2021'
 '13-12-2020' '08-07-2021' '02-08-2020' '30-09-2020' '13-02-2021'
 '13-01-2021' '03-01-2022' '09-06-2021' '18-03-2022' '10-09-2021'
 '13-06-2020' '05-08-2020' '29-10-2022' '01-02-2022' '28-09-2020'
 '20-07-2020' '20-11-2020']

In [16]:
car_data.isnull().sum()

Model                 0
Selling Price         0
Kilometers Driven     0
Year                  0
Owner                 0
Fuel Type             0
Transmission          0
Insurance            14
Car Condition         0
Current Price         2
dtype: int64

Lets delete the 2 Current Price which are null.

In [17]:
print("Shape of car_data before dropping Rows with NULL values in Current Price : ",car_data.shape)
car_data = car_data[car_data['Current Price'].notna()]
print("Shape of car_data after dropping Rows with NULL values in Current Price : ",car_data.shape)

car_data['Insurance'] = car_data['Insurance'].fillna(0)
print("Shape of car_data after changing Rows with NULL values in Insurance to 0: ",car_data.shape)

Shape of car_data before dropping Rows with NULL values in Current Price :  (2237, 10)
Shape of car_data after dropping Rows with NULL values in Current Price :  (2235, 10)
Shape of car_data after changing Rows with NULL values in Insurance to 0:  (2235, 10)

Checking if we have any null values left to treat:

In [18]:
car_data.isnull().sum()

Model                0
Selling Price        0
Kilometers Driven    0
Year                 0
Owner                0
Fuel Type            0
Transmission         0
Insurance            0
Car Condition        0
Current Price        0
dtype: int64

Now we need to fix the absent indexes brought upon by using the .notna() (e.g. if the row number 69 was dropped then the row after number 68 would have the index 70):

In [19]:
print(car_data.shape)
car_data = car_data.reset_index(drop=True)
print(car_data.shape)

(2235, 10)
(2235, 10)

In [ ]:
sns.distplot(car_data['Selling Price'])
plt.show()

Error: Session cannot generate requests